* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

header {
  z-index: 999;
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  position: fixed;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* 其他区块样式 */
section {
  padding: 40px 20px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.show-box {
  width: 50%;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.3s;
}

.show-box ul {
  list-style-type: none;
  padding-left: 0;
}

.show-box li {
  margin-bottom: 15px;
}

.show-box a {
  color: #000000;
  text-decoration: none;
}

.show-box a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
}

.menu-toggle .bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
}

/* 弹窗样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header #close-modal {
  font-weight: bold;
}

.modal-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal img {
  width: 50%;
}

/* 胶囊标签样式 */
.capsule-label {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #000000; /* 胶囊标签的背景色 */
  border-radius: 50px; /* 胶囊形状的关键 */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 胶囊的阴影效果 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* 鼠标悬停效果 */
.capsule-label:hover {
  background-color: #000000; /* 悬停时的背景色变化 */
  transform: scale(1.05); /* 鼠标悬停时标签放大 */
}

/* 可选的不同颜色类型 */
.capsule-label.green {
  background-color: #000000;
}

/* 按钮样式 */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white !important;
  background-color: #000000; /* 按钮的背景色 */
  border: 2px solid transparent; /* 设置透明边框，方便悬停时显示 */
  border-radius: 30px; /* 圆角按钮 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    border-color 0.3s ease;
  text-decoration: none; /* 去掉文本的下划线 */
}

.button:hover {
  background-color: #45a049; /* 鼠标悬停时按钮的背景色变化 */
  transform: scale(1.05); /* 悬停时按钮稍微放大 */
  border-color: #000000; /* 悬停时增加边框颜色 */
}

.button svg {
  margin-right: 8px; /* 图标和文字之间的间隔 */
  width: 20px; /* 图标的宽度 */
  height: 20px; /* 图标的高度 */
}

/* 可选的按钮颜色 */
.button.green {
  background-color: #000000;
}

#video-player {
  width: 720px;
  margin: 20px auto;
}
video {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}
#controls {
  margin: 10px;
}
#thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  background: #fff;
}
.thumb {
  width: 120px;
  height: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}
.thumb.active {
  border-color: #000000;
  background-color: #000000;
}

/* 图文轮播 */
.carousel-container {
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-text {
  position: absolute;
  bottom: 0px;
  left: 20px;
  color: white;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* 控制按钮 */
.carousel-container .prev,
.carousel-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.carousel-container .prev {
  left: 10px;
}

.carousel-container .next {
  right: 10px;
}

.carousel-container p,
.carousel-container a {
  font-size: 16px;
}

.carousel-container a {
  color: #8fff00;
}

.carousel-container .title {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
}

.carousel-container .text {
  font-size: 12px;
}

/* 个人简介 */
.show-box#profile {
  margin-top: 30px;
  background-color: unset;
  box-shadow: unset;
}

.show-box#profile img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.show-box#profile {
  text-align: center;
}

.show-box#profile img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 超链接样式 */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-links a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

/* 座右铭样式 */
.motto {
  margin-top: 30px;
  font-style: italic;
  color: #000000;
  text-align: center;
  font-size: 18px;
}

/* 教育背景 */
.area-title {
  padding-left: 2px;
  border-left: solid 3px #000000;
  font-weight: bold;
  color: #000000;
}

.show-box#intro .inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#waline {
  width: 51%;
}

/* 自适应设计 */
@media (max-width: 1880px) {
  .show-box {
    width: 80%;
  }

  #waline {
    width: 82%;
  }
}

@media (max-width: 1680px) {
  .show-box#intro .inner-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .show-box#intro .inner-div button {
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 1680px) {
  #video-player {
    width: unset;
  }
}

@media (max-width: 768px) {
  section {
    padding: unset;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 20px;
    opacity: 0; /* 初始为透明 */
    transform: translateY(-20px); /* 初始位置偏移 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* 添加平滑过渡动画 */
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    background-color: #000000;
  }

  .container {
    width: unset;
    padding: 0 10px;
  }

  .show-box {
    width: 100%;
  }

  .carousel-text {
    max-height: 16vh;
    overflow: scroll;
  }

  .show-box#profile {
    margin-top: 100px;
  }

  #video-player {
    width: unset;
  }

  #waline {
    width: 102%;
  }
}
